---
import { categorySlugs } from 'utils';
import BaseLayout from 'layout:BaseLayout';
import PostExcerpt from 'component:PostExcerpt';

export async function getStaticPaths({ }) {
  const allPosts = Astro.fetchContent('../post/**/*.md');
  const allCats = allPosts.map(post => categorySlugs(post.category)).flat();
  const uniqueCats = [...new Set(allCats)];

  return uniqueCats.map(({ category, slug }) => ({ params: { category: slug }, props: { category, slug } }));
};

const { category } = Astro.props;
const allPosts = Astro.fetchContent('../post/**/*.md');
const categoryPosts = allPosts.filter((post) => post.category.includes(category));
const posts = categoryPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---\
<BaseLayout title={category}>
  <section class="blue-section py-4">
    <h1 class="m-0 text-center">{category}</h1>
  </section>
  <div class="post-list">
  {posts.map((post) => (
    <PostExcerpt {...post} />
  ))}
  </div>
</BaseLayout>
