---
import BaseLayout from 'layout:BaseLayout';
import Posts from 'component:Posts';
import { getCategories, getCategoryPosts } from 'utils';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../post/**/*.md');
  return getCategories(allPosts);
};

const { category, slug } = Astro.props;
const allPosts = await Astro.glob('../post/**/*.md');
const posts = getCategoryPosts(allPosts);
---

<BaseLayout title={category}>
  <section class="blue-section py-4">
    <h1 class="m-0 text-center">{category}</h1>
  </section>
  <Posts posts={posts} />
</BaseLayout>
