@tailwind base;

@layer base {
  a {
    @apply text-brightblue underline;
  }

  pre {
    @apply relative z-[1] p-4 bg-darkblue text-lightblue dark:bg-lightblue dark:text-darkblue;
  }

  pre code {
    @apply block font-mono overflow-scroll px-0 text-base;
  }

  h1 {
    @apply font-merri text-2xl font-bold md:text-3xl;
  }

  h2 {
    @apply font-merri text-xl font-bold md:text-2xl;
  }

  h3 {
    @apply font-merri text-lg font-bold md:text-xl;
  }

  h4 {
    @apply font-merri text-base font-bold;
  }

  p {
    @apply mb-6 mx-0;
  }

  .post > *:not(code) {
    @apply content-width;
  }

  .post > pre {
    @apply flex mt-0 my-auto mb-6 p-4 justify-center;
    --pad: calc(100vw / 2 - 60rem / 2);
    padding-left: var(--pad);
    padding-right: var(--pad);
  }

  .post ol {
    list-style: decimal;
  }

  .post ul {
    list-style: disc;
  }

  .post li {
    margin-inline-start: 1.25em;
  }

  .video-thumbnail::after {
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 25px 0px 25px 50px;
    content: "";
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
  }
}

@tailwind components;

@layer components {
  .content-width {
    --pad: 1em;
    padding-left: var(--pad);
    padding-right: var(--pad);
    margin: 0px 0px 1.5em;
  }

  @media screen and (min-width: 845px) {
    .content-width {
      --pad: calc(100vw / 2 - 50rem / 2);
    }
  }

  .blue-section {
    @apply content-width bg-lightblue dark:bg-medblue py-4;
  }

  .blue-section a {
    @apply text-darkblue dark:text-white;
  }

  .list-reset {
    @apply list-none m-0 p-0;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%];
  }
}

@tailwind utilities;

:root {
  --color-light: #f3f4f6;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #1f2937;
  }
}

header > div {
  font-size: clamp(2rem, -0.4742rem + 6.1856vw, 2.75rem);
}
