---
import BaseLayout from 'layout:BaseLayout';
import PostHero from 'component:PostHero';
import PostList from 'layout:PostList';
import { SiteMeta } from '../siteMeta';

const { url } = Astro.request;

const title = '404: Not Found';
---
<BaseLayout title="Slushman" description={SiteMeta.description} {title} permalink={url}>
  <PostHero
    account="benjaminjohnelliott"
    photographer="Benjamin Elliott"
    slug="404"
    title="Content Not Found"
  />
  <div class="content-width pb-2 pt-8">
    <p>You just hit a route that doesn&#39;t exist... 😔.</p>
    <h2>Maybe try one of these:</h2>
  </div>
	<PostList limit={6} />
</BaseLayout>
