---
const { image } = Astro.props;
---
<div class="h-40 relative overflow-hidden">
  <img
    alt=""
    class="absolute top-0 left-0 w-full h-full object-cover delay-500 object-center"
    fetchpriority="high"
    src={image}
  />
</div>
