---
import Posts from 'component:Posts';
import { getRelatedPosts } from 'utils';

const { relatedPosts } = Astro.props;
const allPosts = await Astro.glob('../pages/post/**/*.mdx');
const posts = getRelatedPosts(allPosts, relatedPosts);
---

<section class="">
  <h2 class="m-0 p-6">Check out these related posts:</h2>
  <Posts posts={posts} />
</section>
