---
import PostExcerpt from 'component:PostExcerpt';
import { getRelatedPosts } from 'utils';

const { relatedPosts } = Astro.props;
const allPosts = Astro.fetchContent('../pages/post/**/*.md');
const posts = getRelatedPosts(allPosts, relatedPosts);
---
<section class="">
  <h2 class="m-0 p-6">Check out these related posts:</h2>
  <div class="post-list">
    {posts.map(({ date, description, title, url }) => (
      <PostExcerpt date={date} description={description} title={title} url={url} />
    ))}
  </div>
</section>
