---
import SocialMenuItem from 'component:SocialMenuItem';
import Github from 'svg:Github';
import LinkedIn from 'svg:Linkedin';
import RSS from 'svg:RSS';

const socials = [
  { Icon: Github, label: 'GitHub', url: 'https://github.com/slushman' },
  { Icon: LinkedIn, label: 'LinkedIn', url: 'https://www.linkedin.com/in/chriswilcoxson/' },
  { Icon: RSS, label: 'RSS', url: '/rss.xml' },
];
---

<nav>
  <ul class="grid grid-cols-3 gap-2 grid-rows-1 list-reset">
    {socials.map((props) =>
    <SocialMenuItem {...props} />)}
  </ul>
</nav>
