---
import Head from 'component:Head';
import Header from 'component:Header';
import SocialMenu from 'component:SocialMenu';
import { SiteMeta } from '../siteMeta';

const { description, noindex, permalink, title } = Astro.props;

const thisYear = new Date().getFullYear();
---

<html class="bg-offwhite dark:bg-darkblue" lang="en">
<Head {title} description={description} noindex={noindex} permalink={permalink} />

<body class="text-darkblue dark:text-offwhite text-[20px] font-sans">
  <main>
    <header class="grid justify-center w-full py-4 content-width mb-0">
      <Header />
    </header>
    <slot />
    <footer class="grid w-full py-4 content-width dark:bg-medgray mb-0">
      <SocialMenu />
      <div class="text-center" data-test="copyright">{`© ${ thisYear } ${ SiteMeta.title }`}</div>
    </footer>
  </main>
</body>

</html>
