---
import Debug from 'astro/debug';
import PostExcerpt from 'component:PostExcerpt';

const { category } = Astro.props;
const allPosts = Astro.fetchContent('../pages/post/**/*.md');
const categoryPosts = allPosts.filter((post) => post.category.includes(category));
const posts = categoryPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---
<!-- <Debug {allPosts} /> -->
<section class=""> <!-- categoryHeader -->
  <h1 class="">{category}</h1> <!-- categoryTitle -->
</section>
<div class="post-list">
{posts.map((post) => (
  <PostExcerpt {...post} />
))}
</div>
